html {background-image:url(bg.jpg);
      	background-size:100%;}

body {background: linear-gradient(black , #0e0050 , black); 
	background-color:black
	color:rgb(255,255,255);
	font-family: 'Arial', cursive; color:white;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	hyphens:auto;
	width:95%;
	max-width:1000px;
	margin:auto;
	margin-top:10px;
	border:solid 2px rgb(0,0,0);
	border-radius:10px;}
	
section img {max-width:100%; min-width:10%}

section {margin-top:20px;
         padding:10px;}
       

/* FLOAT */

#float #osa1	{width:48%;
  		float:left;
  		padding:0 1%;}

#float #osa2	{width:48%;
		float:right;
		padding:0 1%;}
		
.levitys 	{padding:5%;
		float:right;}

pad	{margin-left:200px;}
             
/* PÄÄOTSIKKO + MOUSEOVER */

h1 a 	{color:black; font-family: 'Nosifer', cursive; 
	text-decoration:none; text-shadow: 5px 5px 5px rgb(70,0,120); }
h1 a:hover {background-color:#0e0050;}


/* NAVIGAATIO + MOUSEOVER */

nav a {display:block; font-weight:bold;
	color:black;
	background-color:rgb(70,0,120);
	width:130px;
	text-align:center;
	padding:4px;
	text-decoration:none;}
nav a:hover {background-color:#0e0050;}

/*INFOBOX*/

info a {text-decoration:none; }

#infobox {display:block; 
	font-weight:bold;
	background-color:gray;
	box-shadow:5px 5px 5px black;
	padding:25px;
	margin:auto;
	width:70%;
	text-align:center;}
		
#infobox:hover {background-color:#0e0050;}





/*OTSIKOT JA FONTIT*/

@font-face	{font-family:DeathDevil;
		src:url(DeathDevil.ttf);}
bandfont	{font-family:DeathDevil; font-size:40px;}
@font-face	{font-family:Black;
		src:url(Black.ttf);}
		
genrefont	{font-family:Black; font-size:40px; font-weight:bold;
		color:black; text-shadow: 0px 0px 5px white;}
	

o1 {color:black; font-family: "Arial Black", Gadget, sans-serif;}
h1 	{color:rgb(70,0,120); font-family: 'Nosifer', cursive; text-shadow: 3px 3px 3px black;}
h2 	{text-align:center}
h3 	{text-align:left, font-size:15px;}
h4 	{text-align:left; font-size:20px;}


#navigointi a 	{text-decoration:none;}
#navigointi ul	{padding-left:0px;}
#navigointi li 	{display:inline-block;
		list-style-type:none;
		border:solid 1px rgb(0,0,0);}

/*SIVUN ASETTELU*/

.vert {display: table-cell;
    vertical-align: middle;}

.center {margin:auto;
	width:70%;}

#vasen {float:left;
   	width:48%;
	padding:0 1%;}

#oikea {float:right;
	width:48%;
	padding:0 1%;}

header {text-align:center;
	padding:1px;
	border-radius:20px 20px 0px 0px;
	background: linear-gradient( black, #0e0050,black); 
	background-color:black}

footer {background-color:rgb(70,0,120);
	text-align:center;
	padding:1px;
	border-radius:0px 0px 10px 10px; 
	margin:auto;
	clear:both;
	border-top:solid 2px rgb(153,153,153);
	text-align:center;}

/*HUOMIOVÄRI*/
.huom {color:yellow}

/*TAUSTAT*/

  	
div.transbox
	{width:85%;
  	height:90%;
  	margin:30px 30px;
  	background-color:#ffffff;
  	border:1px solid black;
 	opacity:0.5;}
 		 
div.transbox p
	{margin:5%;
	font-weight:bold;
	color:black;
	text-shadow: 1px 1px 3px gray;}

#backgroundblack
	{width:400px;
  	height:500px;
  	background:url(kuvat/black.jpg) repeat;
  	border:2px solid black;}

#backgrounddeath
	{width:400px;
  	height:500px;
  	background:url(kuvat/death.jpg) repeat;
  	border:2px solid black;}

#backgroundproge
	{width:400px;
  	height:500px;
  	background:url(kuvat/proge.jpg) repeat;
  	border:2px solid black;}
  	
#backgroundfolk
 	{width:400px;
   	height:500px;
   	background:url(kuvat/folk.jpg) repeat;
  	border:2px solid black;}
  	
#backgrounddoom
	{width:400px;
	height:500px;
	background:url(kuvat/doom.jpg) repeat;
  	border:2px solid black;}
  	
#backgroundsymph
	{width:400px;
	height:500px;
	background:url(kuvat/symph.jpg) repeat;
  	border:2px solid black;}
  	
/* POP UP */

div.appear {
    width: 250px; 
    border:none;
    background:gray;
    position: relative;
    top: 5px;
    left:15px;
    display:none;
    padding: 20px;
    
}
div.hover  {
    cursor:pointer;
    width: 5px;
}
div.hover:hover div.appear {
    display:block;}


/* 
HUOM
Koodi on sekava, kokoajan tulee sellaisia heureka-hetkiä, että "hitsi, tän olis voinu tehdä samalla tagilla" tai "ai niitä niitä voi olla useita samassa" jne enkä jaksa jokaista tehdä uudestaan joka sivulle erikseen... mutta tehdessä oppii :)

PALAUTE!
Tykkäsin kurssista.

Nautin HTML:n tekemisestä koska luovuus pääsee valloilleen, mutta toisaalta luovuus tökkii kun deadlinet tulee vastaan. Aion jatkaa näiden sivujen kehittelyä kesälläkin!


*/