body {
  margin: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.header span {
	 cursor:pointer;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
  }
  /* overlay valikko */
  .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
  }
  .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
  }
  .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.5s;
  }
  .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
  }
  .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
  }

 #valikko {
   position: absolute;
    top: 8px;
    left: 16px;
    font-size: 35px;

 }
 #ylos {
   position: absolute;
    top: 8px;
    right: 16px;
	text-decoration:none;
	color:black;
    font-size: 35px;
  }

.header h3 {
  text-align: center;
  font-size: 22px;

}
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
/* milloin lista alkaa headerin alta */
.content {
  padding: 50px 0;
  margin: 0px auto 0 auto;
  width: 95%;
}
/* scrolli ei mene ihan ylös asti ilman tätä */
.bufferzone {
  margin:35px;
}

/*  nappi */
.reveal {
cursor:pointer;
list-style-type: none;

	background-color:#33b5e5;
	text-align:center;
}
h3.reveal {
	padding:10px;
	margin-top:  5px;
	margin-bottom: 5px;

}
/* nappi hover  */
.reveal:hover  {
	background-color: #0099cc;
}
/* tekstisis�ll�n taustan v�ri */
div.column {
	background-color: #f1f1f1;
}
/* tekstin muotoilu */
div.column p{
	margin:0px;
	padding:10px;
}
img {
  max-width: 100%;
}
